nav
  ul.right
    li
      +atNavButton
  ul#slide-out.side-nav.fixed
    a(href='/')
      li.logo
        img(src='/logo.png')
    if superAdmin
      li
        a(href='/organisations') Organisations
      li
        a(href="/organisationRoles") Roles
      li
        a(href="/organisationUsers") Users
  a(href="#" data-activates="slide-out" class="button-collapse")
    i.material-icons
      = 'menu'
