color1 = #000000
color2 = #77f4f4
color3 = #fff474
color4 = #ffeb15
color5 = #4dc9e2
color6 = #ffd515
color7 = #ff8a15
color8 = #0da2d1
color9 = #0ea9d3
color10 = #ffae15
color11 = #ffc015
color12 = #0a96cc

dark = #000000
highlight = #ffef61
secondary = color7
main = color8
main-light = #01cfff
main-dark = #00a3c9

nav
  background-color main-light

.has-error
  .help-block
    color: red

//.btn
//  background-color secondary
//  &:hover
//    background-color lighten(secondary, 15%)
